body {
 color: white;
}
img {
  border-radius: 8px;
  width: 260px;
  height: 360px;
  background-size: contain;
}
.card  {
  color: #fff;
  border-radius: 8px;
  width: 260px;
  height: 360px;
  box-shadow:0 20px 35px rgba(0, 0, 0, 0.26);
}
.text {
  position: absolute;
  bottom: 390px;
  padding: 37px;
  text-shadow: 1px 1px 1px #0066cc;
}
